html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; /* Pushes the footer to the bottom */
}

.footer {
    height: 30vh;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}
