
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
   
    min-height: 100vh; /* Full viewport height */
    background: linear-gradient(135deg, #000000, #011e38); 
}

main {
    flex: 1;
}



/* Navbar Styling */
.navbar {
    margin-bottom: 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff;
    margin: 0 10px;
} 
.home {
    background: linear-gradient(145deg, #ecf9fb, #d9f2f5); /* Subtle gradient from light to slightly darker */
    border: 2px solid #3fc7a3;
    border-radius: 20px;
    padding: 50px;
    max-width: 80%;
    margin: auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}



.image-specifics {
    height: 400px;
    width: 400px;
    border-radius: 50%; /* Makes the image circular */
    margin-left: 50px;
    margin-right: 0;
    border: 2px solid black; /* Adds a black border */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), 0 0 15px rgba(255, 255, 255, 0.2); /* Enhanced shadow */
}


/* Home Section Layout */
.text-content {
    margin: 10px;
}

.image-section {
    margin-left: 20px;
    text-align: right; /* Aligns the image section to the right */
   
}


/* Text Styling */
.about-h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.about-p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Button Styling */
.btn-awesome {
    background: linear-gradient(135deg, #3a8df8, #3fc7a3);
    color: white;
    border: none;
    padding: 14px 28px;
    margin: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-awesome:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}


.footer p {
    margin: 0;
    font-weight: 400;
}

.footer p:hover {
    color: #3fc7a3;
}

.social-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.social-links a:hover {
    color: #3fc7a3;
}

.social-links i {
    margin-right: 5px;
    font-size: 1.2rem;
}
.footer {
    margin-top: auto;
    width: 100%;
}
